# Rewrites
Options -MultiViews
RewriteEngine On

# Force HTTPS, doesn't work with Cloudflare
# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# No need for .php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Insert rewrites here:

# Sample:
# RewriteRule ^vagter/year/(.*)/(.*)$ /vagter/year.php?year=$1&action=$2 [L]
# RewriteRule ^vagter/year/(.*)$ /vagter/year.php?year=$1 [L]

# Prevent viewing of .htaccess file
<Files .htaccess>
	order allow,deny
	deny from all
</Files>

# 1 day cache for most static assets
<filesMatch ".(jpg|jpeg|png|gif|ico)$">
	Header set Cache-Control "max-age=86400, public"
</filesMatch>
# 1 year cache for most static assets
<filesMatch ".(css|js)$">
	Header set Cache-Control "max-age=31536000, public"
</filesMatch>